label.header{
	padding: 8px 16px;
	background-color: #f6f8fa;
	border: 1px solid #d1d5da;
	/* border-top-left-radius: 3px;
	border-top-right-radius: 3px; */
	width: 100%;
	margin-bottom: 0px;
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}
#total{
	text-shadow: none;
}

#data,#table{
	width:fit-content;
}
body{
	background: #f9f9f9;
	font-size: 13px;
	font-family: monospace;
}
.sidebar{
	height: 100vh;
	background: #eaecec;
	/* border-right: 1px solid;
	border-color: #d7dbde; */
	box-shadow: 1px 0px 5px 0px #848484;
	overflow:hidden;
}
#loadModal{
	position: absolute;
    height: 100%;
    width: 100%;
    background: #f1efef;
    top: 0px;
    left: 100%;
	transition-duration: 300ms;
}
#loadModal.active{
	left: 0px;
}
.outer-list,.inner-list{
	background: rgba(255, 255, 255, 0.37);
}
.outer-list > li {
	border: 1px solid #d3d3d3;
    padding: 0.25em 0.5em;
	border-radius: 3px;
	cursor: pointer;
	width: 100%;
	font-size: 12px;
	font-weight: 600;
	color: #6e6e6f;
}
.inner-list{
	height:0px;
	overflow:hidden;
	transition-duration: 300ms;
	padding: 0.25em;
}
.inner-list > li{
	width:100%;
	padding:0.15em;
	cursor: pointer;
	padding: 0.25em 0.5em;
	border-radius: 3px;
	color: #909090;
}
.inner-list > li:hover{
	background: #c9d7e4;
}
.outer-list > li.active > .inner-list{
	height: auto;
}
#output{
	height:70vh;
	width:100%;
	border:none;
}
.brr-0{
	border-radius: 0 !important;
	border-left: 0px;
}
.window{
	border: 1px solid #ced4da;
	padding: 10px;
	height: calc(100vh - 160px);
	font-size: 13px;
	background: #f5f5f5;
	border-top: 0px;
}
#mySideBarTab {
	background: #f9f9f9;
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #2f2f2f, #212121);
	font-size:11px;
}
#mySideBarTab .nav-link{
	border:none;
}
#mySideBarTab .nav-link.active {
	/* color: #495057 !important; */
	color: #3e9eff !important;
	/* background-color: #f9f9f9;
	border-color: #dee2e6 #dee2e6 #f9f9f9; */
	border-color:transparent;
	background: none;
	/* border-bottom: 2px solid #03A9F4; */
}
#mySideBarTab .nav-link:hover {
    border-color:transparent !important;
    /* background: #e3e3e3;
	border-radius: 0px; */
	background: #505050;
    border-radius: 0px;
    border: 0px;
}
.input-group-text{
	color: #b3b3b3;
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
	font-size: 12px;
}
.page-link {
	padding: .45rem .75rem !important;
}
.form-control{
	font-size:12px;
	background-color: #fdfdfd !important;
}
.btn{
	border: 1px solid #d2d2d2;
	color: #24292e;
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
	font-size: 12px;
	padding: .375rem .45rem !important;
	/* padding: 7px; */
}
.brl-0{
	border-left: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.info-container{
	position: fixed;
	z-index: 100000;
	background: #f5f5f5;
	border-left: 1px solid #999;
	transition: 800ms;
	right: -79.5%;
	width: 80%;
}
.info-table{
	height: calc(100vh - 60px);
	/* overflow-y: scroll;
	padding: 10px;
	position: relative; */
}
#address{
	border-radius: 18px;
    border: none;
}
.info-container.active{
	right:0px;
}
.info-btn{
	position:absolute;
	width: 32px;
	padding: 0.62em;
	margin-top: 8px;
	margin-left: -32px;
	z-index: 15;
	cursor: pointer;
	border: 1px solid #c5c5c5;
	border-right: 0px;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	background: #f5f5f5 url('./../media/logo.png') no-repeat 5px 3px;
	height: 35px;
	background-position: center;
	background-size: 21px;
}
.page-item .page-link{
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
	color: #888;
}
.page-item.active .page-link {
	background-image:none;
	background-color: #6ba0e4;
    border-color: #526f94;
}
.input-group-text {
	font-weight: 600;
	margin-right: 1px;
}
h1 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 1rem;
}
.badge-primary {
	color: #fff;
	background-color: #BA68C8;
}
.markdown-body{
	padding: 15px;
}
kbd, code{
	background: #e4eaea;
	color: #333;
	padding: 3px 5px;
	margin-right: 5px;
	border-radius: 3px;
}
a.nav-link{
	/* color: #666767 !important; */
	color: #fbfbfb !important;
	padding: .65rem 0.45rem;
}
thead {
	background: #f8f9fb;
}
li {
	margin-bottom: .5em;
}
img{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 80vh;
}
.carousel-item {
	height: inherit;
}
.carousel-control-next, .carousel-control-prev{
	background: whitesmoke;
}
.carousel-indicators li{
	background-color:#794848;
}
.json-formatter-open > .json-formatter-children.json-formatter-object {
	border-left: 1px dashed #bbb1b1;
	margin-left: 2px;
}
.json-formatter-toggler {
	font-size: 0.9rem !important;
}
.json-formatter-dark.json-formatter-row, .json-formatter-dark.json-formatter-row a, .json-formatter-dark.json-formatter-row a:hover {
	color: #403838 !important;
}
.json-formatter-dark.json-formatter-row .json-formatter-string, .json-formatter-dark.json-formatter-row .json-formatter-stringifiable {
	color: #b73b00 !important;
}
.json-formatter-dark.json-formatter-row .json-formatter-key {
	color: #00008B!important;
}
.json-formatter-open > .json-formatter-children.json-formatter-object:after {
	position: relative;
	content: '}';
background: #fff;
margin-left: -2px;
}
.json-formatter-open > .json-formatter-children.json-formatter-object.json-formatter-array:after {
content: ']';
}
.json-formatter-row, .json-formatter-row a, .json-formatter-row a:hover {
    margin-top: .45em;
}
.json-formatter-row .json-formatter-key {
    color: #00008B;
    padding-right: 0.2rem;
    padding: .25em;
    border-radius: 3px;
    margin-right: .35em;
	background: #d9e6f5;
	/* background: #fbb0b0; */
    box-shadow: 1px 1px 5px #bbbbbb;
}

.json-formatter-row .json-formatter-row {
    margin-left: 1rem;
    background: #c6c6e638;
	padding: .45em;
	width: inherit;
}
span.json-formatter-constructor-name {
    display: none;
}
.json-formatter-row .json-formatter-string, .json-formatter-row .json-formatter-stringifiable {
    padding: .25em;
    background: #e0eae7;
    border-radius: 3px;
    /* margin-top: .3em; */
}
.json-formatter-row .json-formatter-url {
    background: #d8d8de;
    color: #0c0c0c !important;
}
.json-formatter-row > span:before {
    content: '=';
    margin-right: 3px;
    color: #8c8888;
}
.btn-open-file{
background: #ffffff;
padding: 0px 5px;
font-size: 10px;
cursor: pointer;
border: 1px solid #d2d2d2;
}
.json-formatter-row .json-formatter-toggler:after {
content: ">" !important;
margin-bottom:3px;
}
.h-0{
height:0px;
}
.main{
height:100vh;
}
.hljs{
display:block;
overflow-x:auto;
padding:.5em;
background:#182334;
color:#fff
}
.hljs-name, .hljs-strong{
font-weight:700
}
.hljs-code, .hljs-emphasis{
font-style:italic
}
.hljs-tag{
color:#8b60ed
}
.hljs-variable, .hljs-template-variable, .hljs-selector-id, .hljs-selector-class{
color:#ade5fc
}
.hljs-string, .hljs-bullet{
color:#6edcc4
}
.hljs-type, .hljs-section, .hljs-attribute, .hljs-quote, .hljs-built_in, .hljs-builtin-name{
color:#8b60ed
}
.hljs-title{
color:#fff
}
.hljs-number, .hljs-symbol, .hljs-bullet{
color:#ec454f
}
.hljs-keyword, .hljs-selector-tag, .hljs-literal{
color:#328af1
}
.hljs-comment, .hljs-deletion, .hljs-code{
color:rgba(255, 255, 255, .25)
}
.hljs-regexp, .hljs-link{
color:#c6b4f0
}
.hljs-meta{
color:#ec454f
}
.hljs-deletion{
background-color:#fc9b9b;
color:#333
}
.hljs-addition{
background-color:#a2fca2;
color:#333
}
.hljs a{
color:inherit
}
.hljs a:focus, .hljs a:hover{
color:inherit;
text-decoration:underline
}
.badge-bug{
	background: #ec6d64;
}
.badge-guest{
	background: #03A9F4;
}
.badge-auth{
	background: #8BC34A;
}
.badge-test{
	background: #9E9E9E;
}
::-webkit-input-placeholder { /* Edge */
	color: #a5a5a5;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #a5a5a5;
  }
  
  ::placeholder {
	color: #a5a5a5;
  }
  #myTabContent{
	height: 100vh; 
  }
  iframe{
	width: 100%;
    background: #fff;
	height: calc(100vh - 60px);
	border:none;
  }
  .dbpanel-overlay{
	background: #75757569;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    display: none;
  }
  .focus-dom{
	  z-index: 2;
  }